{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
<div class="formContainerAll">
    <form method="post">
        {% csrf_token %}
    <div class="formContainer">
        <label for="descricao">Descrição</label>
        {{ produtoForm.descricao }}
    </div>
    
    <div class="formContainer">
        <label for="custo">Custo</label>
        {{ produtoForm.custo }}
    </div>
    <div class="formContainer">
        <label for="preco">Preço</label>
        {{ produtoForm.preco }}
    </div>
    <div class="formContainer">
        <label for="fornecedor">Fornecedor</label>
        {{ produtoForm.fornecedor }}
    </div>
    <div class="formContainer">
        <label for="quantidade">Quantidade</label>
        {{ produtoForm.quantidade }}
    </div>
    <div class="formContainer">
        <label for="peso">Peso</label>
        {{ produtoForm.peso }}
    </div>

    <div class="formContainer">
        <label for="tipo">Tipo do Produto</label>
        {{ produtoForm.tipo }}
    </div>

    <div class="formContainer">
        <label>Tem a varejo?</label>
        <div class="divBtnVarejo">
            <button type="button">SIM</button>
            <button type="button">NÃO</button>
        </div>
    </div>

    <div class="formContainer hidden">
        <label for="temVarejo">Tem à varejo?</label>
        {{ produtoForm.temVarejo }}
    </div>
    <div class="formContainer inputSubmit">
        <input type="submit" value="Cadastrar">
    </div>
</form>
</div>

{% endblock content %}