{% extends 'base.html' %}
{% block title %}Lista de Produtos{% endblock title %}

{% block content %}

<div class='todosProdutos'>

<div class='produto'>
    <table id="tableProdutos">
        <thead>
            <tr>
                <td>PRODUTO</td>
                <td>PESO</td>
                <td>FORNECEDOR</td>
                <td>TIPO</td>
                <td>CUSTO</td>
                <td>PREÇO</td>
                <td>QUANTIDADE</td>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td><a href="{% url 'atualizarProdutos' produto.id %}">{{ produto.descricao }}</a></td>
                <td>{{ produto.peso }}KG</td>
                <td>{{ produto.fornecedor }}</td>
                <td>{{ produto.tipo }}</td>
                <td>R${{ produto.custo }}</td>
                <td>R${{ produto.preco }}</td>
                <td>{{ produto.quantidade }}un</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<script>
    $(document).ready( function () {
    $('#tableProdutos').DataTable();
} );
</script>
{% endblock content %}